.navigation ul{
    display: flex;
    margin: 30px;
}

.navigation a{
    text-decoration: none;
    padding: 10px;
}

.navigation li{
    color: aqua;
    transition: 0.2s;
    cursor: pointer;
    list-style-type: none;
}
.navigation li:hover{
    color: darkblue;
}


.navigation a.nav-active li{
    position: relative;
    border-bottom: 3px solid aqua;
}

.navigation a.nav-active li:hover{

    border-bottom: 3px solid darkblue;
}


